@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

@import url(typography.css);
@import url(component.css);
@import url(responsive.css);

/*===================
    GLOBAL CSS
====================*/

html {  
    scroll-behavior: smooth;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.logo h1 {
    margin-bottom: 0;
    font-size: 3em;
    color: var(--support-color);
}


.navbar {
    padding-block: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero {
    height: 78vh;
    margin-bottom: 23px;
    padding-bottom: 0px;
    background-color: var(--secondary-color);
    background-image: url(../images/neon-tropical.jpg);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero-txt {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3em;
    color: var(--primary-contrast);
}

.section {
    padding-block: 5%;
}

.contain {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*Portfolio Cards*/

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.portfolio-title { text-align: center; }

.portfolio-title h3 {
    color: var(--support-color);
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 3%;
}

.portfolio-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-card a {
    justify-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: all .25s ease-in-out;
}

.portfolio-card a:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.portfolio-card img {
    max-width: 100%;
}

.card-text {
    position: relative;
    overflow: hidden;
    padding: 5%;
}

.card-text h4 {
    margin-top: 0;
    font-weight: normal;
    font-size: calc(14px + (18 - 14) * ((100vw - 768px) / (1920 - 768)));
    line-height: 1.2;
    color: var(--support-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 1%;
}

.card-text p {
    margin: 0;
    font-size: calc(12px + (16 - 12) * ((100vw - 768px) / (1920 - 768)));
    color: #757575;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Newsletter*/

.newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-panel {
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 3em;
    color: var(--primary-contrast);
}


ul li {
    line-height: 1.6;
}

/*Footer*/

footer {
    background: #f5f5f5;
    font-size: calc(16px + (30 - 16) * ((100vw - 768px) / (1920 - 768)));
    text-align: center;
    position: relative;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.footer {
    padding-block: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer a {
    color: #757575;
}

/*Internal Page CSS*/

.internal-layout .hero {
    background-image: url(../images/abstract-cloud.jpg);
}

.content-grid .post {
    grid-area: post;
}

.content-grid .sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(239, 31, 156, 0.3);
    border-radius: 4px;
    text-align: center;
    padding: 5%;
}

.figcaption {
    font-size: 12px;
    color: #757575;
}
